@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
}

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 800px;
    }

.card {
    height: 50vh;
    height: 400px;
}
